{% extends 'base.html' %}

{% block content %}

<header class="hero-section">
    <h3 class="header-text"> Welcome Lego Marvel Hero Card Collector! {{ current_user.email }} </h3>
</header>

<div class="container">
    <h3>Your profile details:</h3>
    <ul class="list-group">
        <li class="list-group-item"> Email: {{ current_user.email }} </li>
        <li class="list-group-item"> Token: {{ current_user.token }} </li>
    </ul>
</div>

<div class="container">
    <h3>Here are the cards you've collected so far:</h3>
    <p>(click to flip the card for hero details)</p>
    <div class="hero_card">
        Hero: {{ current_user.token }}
    </div>
    <div class="hero_card">
        Hero: {{ current_user.token }}
    </div>
    <div class="hero_card">
        Hero: {{ current_user.token }}
    </div>
</div>

{% endblock content %}